/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	font-size:125%;
}

header > nav{
	background-color: rgba(247, 181, 88, .3);
	border-radius: 20px;
	padding: 10px;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em; 
	font-weight: bold;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.active{
    text-transform: uppercase;
	text-align: center;
	font-size: larger;
	text-decoration: wavy underline;
}



.active a{
	text-decoration: none;
}

/*Style the images*/
img{
    height: 150px;
	width:auto;
    border: 3px solid rgba(121, 121, 250, .5);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
	margin-left: 10%
}

/*Make the h2 heading match h1*/
h2{
	font-size: 1.2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}


/*Change the styling for all of the list 
items in the nav section*/
nav ul li{
	display: inline-block;
	background-color: rgb(255, 208, 151);
	border-radius: 10px;
	margin: 5px 5%;
	padding: 15px;
	padding: 10px 10px 10px 10px;
}

/*Added this so the links stay the same color*/
a:visited{
	color:#c588f7

}

nav a{
	color: black;
	font-weight: bold;
	text-decoration: none; 
  }

.skip a{
	background: white;
	left: 0;
	padding: 6px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
  }

  nav a:hover, nav a:focus{
	text-decoration: underline;
  }
  
  
  /* Step 2b: Write selector/rule property to position the skip class element when it is in focus*/
  .skip a{
	position: absolute;
	top: -40px;
  }
  .skip a:focus{
	position: absolute;
	top: 20px;
  }


/* main */
main{
	display: grid;
	width: 90%;
	margin: 0 auto;  /*Set grid in center*/
	grid-template-columns: 0.9fr; 
	grid-auto-rows: 1fr;
	justify-content: space-between;
	row-gap:10px;

}

main h2{
	display: block;
	background-color: beige;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 10px;
}

main h3{
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main div{
    border: solid 1px black;
	margin: 0px 5px 0 5px;
    border-radius: 10px;
    padding: 30px 10px;
	/* grid-row: span 2;  */
    background-color: bisque;
	overflow: auto;
    /* Set border properties, padding, and background color */

}

main img{
    /* center  */
    display: block;
    margin: 10px auto;
} 

main ul li{
	margin: 0px 0px 5px 30px;
    line-height: 1;
	list-style: url("../images/sketchbook.png");
}

main ol li{
	margin: 0px 0px 5px 30px;
    line-height: 1;

}







@media screen and (min-width: 800px){

main{
	display: grid;
	width: 90%;
	margin: 0 auto;  /*Set grid in center*/
	grid-template-columns: repeat(3, 0.9fr); 
	grid-template-rows: 300px 300px;
	justify-content: space-between;
	row-gap:10px;

}

main h2{
	display: block;
	background-color: beige;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 10px;
}

main h3{
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main div{
    border: solid 1px black;
	margin: 0px 5px 0 5px;
    border-radius: 10px;
    padding: 30px 10px;
    background-color: bisque;
	overflow: auto;
    /* Set border properties, padding, and background color */

}

main img{
    /* center  */
    display: block;
    margin: 10px auto;
} 

main ul li{
	margin: 0px 0px 5px 30px;
    line-height: 1;
	list-style: url("../images/sketchbook.png");
}

main ol li{
	margin: 0px 0px 5px 30px;
    line-height: 1;

}

}



/* @media screen and (min-width: 800px){
.container{
		display: grid;
		grid-template-columns: 2fr 5fr 2fr;
		grid-template-rows: auto;
		grid-gap: 15px;
}
.container > div:first-of-type{
	grid-column: 2 / 1;
	grid-row: 1 / 1;
	background-color: #d4cf72;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-image{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: auto;
	vertical-align: bottom;

}


.images1{
	grid-column: 2 / 1;
	grid-row: 1 / 2;
}
  }

  @media (prefers-reduced-motion: reduce) {
	.gif-container {
	  display: none; 
	}
  }

  @media (prefers-reduced-motion: no-preference) {
	/* Add styles for non-reduced motion users */
	/* .gif-container {

	} 
	*/
  /*}
*/


